{% assign rootFolder = page.path | split: '/' | first %}
{% if rootFolder == '_drafts' %}
  {% assign draft = true %}
{% endif %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'vedosity';
  {% if draft %}
  var disqus_identifier = 'draft';
  var disqus_title = 'Draft';
  var disqus_url = 'http://www.example.org/';
  var disqus_category_id = '{{ site.category_ids['drafts'] }}' || '0';
  {% else %}
  var disqus_identifier = '{{ page.id }}';
  var disqus_title = '{{ page.title }}';
  var disqus_url = '{{ site.url | append: page.url }}';
  var disqus_category_id = '{{ site.category_ids[page.category] }}' || '0';
  {% endif %}

  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';

    var parent = document.getElementsByTagName('head')[0] ||
                 document.getElementsByTagName('body')[0];
    parent.appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
